{% block werkl_cms_element_blog_categories %}
<div class="werkl-cms-el-blog-categories">
    <h2>{{ $tc('werkl-blog.elements.blogCategories.component.elementHeadline') }}</h2>
    <sw-alert variant="info">
        {{ $tc('werkl-blog.elements.blogCategories.component.infoText') }}
    </sw-alert>
</div>
{% endblock %}
