{% block werkl_cms_element_blog_categories_config %}
<div class="werkl-cms-el-config-blog-categories">
    <sw-alert variant="info">
        {{ $tc('werkl-blog.elements.blogCategories.component.infoText') }}
    </sw-alert>
</div>
{% endblock %}
