{% block werkl_cms_element_blog_categories_preview %}
<div class="werkl-cms-el-preview-blog-categories">
    <p>Blog categories</p>
    <hr>
    <div class="werkl-cms-el-category-placeholder-listing">
        <div class="werkl-cms-el-category-navigation__placeholder"></div>
        <hr>
        <div class="werkl-cms-el-category-navigation__placeholder"></div>
        <div class="werkl-cms-el-category-navigation__placeholder--subcategory"></div>
        <div class="werkl-cms-el-category-navigation__placeholder--subcategory"></div>
    </div>
</div>
{% endblock %}
