{% block werkl_cms_element_blog_detail_config %}
    <div class="sw-cms-el-config-blog-detail">
        {% block werkl_cms_element_blog_detail_config_show_meta %}
        <mt-card
            :title="$tc('werkl-blog.elements.detail.config.showMeta.label')"
            :hero="false"
            :isLoading="false"
            :large="false"
            class="sw-blog-detail-config-filter"
        >
            <mt-checkbox
                :label="$tc('werkl-blog.elements.detail.config.showMeta.showAuthor')"
                v-model:checked="element.config.showAuthor.value"
            >
        </mt-checkbox>
            <mt-checkbox
                :label="$tc('werkl-blog.elements.detail.config.showMeta.showCategory')"
                v-model:checked="element.config.showCategory.value"
            >
        </mt-checkbox>
            <mt-checkbox
                :label="$tc('werkl-blog.elements.detail.config.showMeta.fullWidth')"
                v-model:checked="element.config.fullWidth.value"
            >
        </mt-checkbox>
        </mt-card>
        {% endblock %}
    </div>
{% endblock %}