.werkl-cms-el-config-blog-detail {
    &-meta {
        .mt-field--checkbox__container {
            .mt-field--checkbox {
                margin-bottom: var(--scale-size-22);
            }

            &:last-child {
                .mt-field--checkbox {
                    margin-bottom: 0;
                }
            }
        }
    }
}
