@import "~scss/variables";

.werkl-cms-el-preview-blog-single-select {
    width: 100%;
    background: $color-white;
    font-size: 22px;
    color: $color-darkgray-200;
    font-weight: 600;

    h6 {
        font-size: 14px;
        margin: auto 10px auto 0;
    }

    img {
        width: 100%;
        height: 50px;
        object-fit: cover;
        margin-top: 5px;
    }

    .werkl-cms-el-category-placeholder-listing div {
        margin: 7px 0;
        height: 0.4em;
        border-radius: 25px;
        background-color: $color-gray-100;
    }
}
