{% block werkl_cms_element_blog_single_select_preview %}
<div class="werkl-cms-el-preview-blog-single-select">
    <h6>Single blog entry</h6>
    <img :src="assetFilter('/administration/administration/static/img/cms/preview_mountain_small.jpg')">
    <div class="werkl-cms-el-category-placeholder-listing">
        <div class="werkl-cms-el-category-navigation__placeholder"></div>
        <div class="werkl-cms-el-category-navigation__placeholder"></div>
    </div>
</div>
{% endblock %}
